@model CommonViewModel
@{
    Well well = (Well)ViewBag.Well;
}

<form>
    <p class="fontsize24 font-weight-bold mrbot16 cursor-default">Скважина №@well.Id</p>
    <div id="displaywell">
        @if (Model.ThisUser.Role == "Менеджер" || Model.ThisUser.Role == "Администратор")
        {
            <a class="fontsize22 hover-color-blue cursor-pointer mrbot16" onclick="SwitchBetween('displaywell', 'editwell')" style="display: inline-block; text-decoration: none; color: black">Редактировать</a>
        }
        <div class="fontsize22">
            <label class="form-label">Наименование</label>
            <label style="font-weight: bold" class="form-label">@well.Name</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Широта</label>
            <label style="font-weight: bold" class="form-label">@well.Latitude</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Долгота</label>
            <label style="font-weight: bold" class="form-label">@well.Longitude</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Глубина</label>
            <label style="font-weight: bold" class="form-label">@well.Depth</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Диаметр</label>
            <label style="font-weight: bold" class="form-label">@well.Diameter</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Метод бурения</label>
            <label style="font-weight: bold" class="form-label">@well.DrillingMethod</label>
        </div>
        <div class="fontsize22">
            <label class="form-label">Тип грунта</label>
            <label style="font-weight: bold" class="form-label">@well.SoilType</label>
        </div>
    </div>
    <input type="hidden" value="@well.Id" id="wellidinedit" />
    <div id="editwell" style="display: none">
        @if (Model.ThisUser.Role == "Менеджер" || Model.ThisUser.Role == "Администратор")
        {
            <a class="fontsize22 hover-color-blue cursor-pointer mrbot16" onclick="SwitchBetween('editwell', 'displaywell')" style="display: inline-block; text-decoration: none; color: black">Вернуться к просмотру</a>
        }
        <div class="fontsize22 mrbot16">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="name" placeholder="Введите наименование" value="@well.Name">
            <div id="name-error" class="invalid-feedback">*введите наименование скважины</div>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="latitude" class="form-label">Широта</label>
            <input type="number" class="form-control" id="latitude" placeholder="Введите широту" value="@well.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture)">
            <div id="latitude-error" class="invalid-feedback">*введите широту (расположение)</div>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="longitude" class="form-label">Долгота</label>
            <input type="number" class="form-control" id="longitude" placeholder="Введите долготу" value="@well.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture)">
            <div id="longitude-error" class="invalid-feedback">*введите долготу (расположение)</div>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="depth" class="form-label">Глубина</label>
            <input type="number" class="form-control" id="depth" placeholder="Введите глубину" value="@well.Depth">
            <div id="depth-error" class="invalid-feedback">*введите глубину</div>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="diameter" class="form-label">Диаметр</label>
            <input type="number" class="form-control" id="diameter" placeholder="Введите диаметр" value="@well.Diameter">
            <div id="diameter-error" class="invalid-feedback">*введите диаметр</div>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="drillingmethod" class="form-label">Метод бурения</label>
            <select class="form-select" id="drillingmethod">
                @foreach (var method in new List<string> { "Роторное", "Ударно-вращательное", "Гидравлическое", "Гидророторное", "Роторно-ударное", "Роторно-вращательное", "Роторно-поршневое", "Вращательное", "Роторное с забивкой", "Вращательно-колоночное" })
                {
                    <!option value="@method" @(well.DrillingMethod == method ? "selected" : "")>@method</!option>
                }
            </select>
        </div>
        <div class="fontsize22 mrbot16">
            <label for="soiltype" class="form-label">Тип грунта</label>
            <select class="form-select" id="soiltype">
                @foreach (var soiltype in new List<string> { "Песок", "Глина", "Суглинок", "Глинистый песок", "Гравий", "Песчаник", "Скала", "Торф", "Мергель" })
                {
                    <!option value="@soiltype" @(well.SoilType == soiltype ? "selected" : "")>@soiltype</!option>
                }
            </select>
        </div>
        <input type="button" class="btn btn-primary" value="Редактировать" style="font-size: 22px !important" onclick="EditWell()" />
    </div>
</form>